
.idea/workspace.xml
__pycache__/

.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
classes.pyc
txt_reader.pyc
.idea/337---Project-1-Twitter.iml
data/gg2013.json
data/.DS_Store
data/gg2015.json
.idea/workspace.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
.DS_Store
.idea/workspace.xml
data/test_out1.txt
data/test_out.txt
data/gg2015_host_clean.txt
data/gg2015_host.txt
data/gg2015_clean.json
data/gg2014_host_clean.txt
data/gg2013_host_clean.txt
data/gg2013_host.txt
data/gg2013_clean.json
data/gg2013_clean_answers.json
data/ans_gg2013_clean.json.zip
data/gg2015_clean_answers.json
data/gg2013_clean_answers.json
data/gg2015_clean_answers.json
data/time_award_2013.json
data/time_award_2015.json
data/gg2013_clean_award_time.json
data/gg2015_clean_award_time.json
data/presenters_gg2013_clean.json
data/presenters_gg2015_clean.json
gg2015answers.json
gg2013answers.json
.idea/337---Project-1-Twitter.iml
.idea/misc.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
.idea/337---Project-1-Twitter.iml
.idea/337---Project-1-Twitter.iml
.idea/misc.xml
*.json
